#chats_screen {
    font-family: $primaryFont;
    #all_chats {
        padding: 0;

        #number_of_chats{
            font-size: 15px;
            height:30px;
            width:30px;
            border-radius:50%;
            @include flexCenter;
            background-color: $primaryColor;
            margin-left:10px;
            color:white;
        }

        border:$chatScreenBorder;
        #all_chats_heading {
            @include flexCenter;
            font-size: 30px;
        }

        #chats_search {
            display: flex;
            align-items: center;
            color: gray;
            padding: 0px 0px 0px 20px;
            height: 40px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.1);

            #search_chats {
                background-color: transparent;
                border: none;
                width:100%;
                height:100%;
            }

            #search_icon {
                margin-right: 10px;
            }
        }

        #chats_with_users {
            overflow-y: auto;
            width:100%;
            height:calc(100vh - 156px );
            

            #model_image {
                height:80px;
                width:80px;
                border-radius: 10px;
                margin-right:15px;
            }

            #single_chat{
                cursor:pointer;
                display: flex;
                padding:15px 0px 15px 15px;
                border-bottom: $chatScreenBorder;
            }

            #name_and_last_message {
                display: flex;
                flex-direction: column;

                #message_and_time {
                    display: flex;
                    justify-content: space-between;
                    color:gray;
                }
            }



        }
    }

    #chat_section {
        padding:0;
        #chat_section_heading{
            @include flexCenter;
            border-top:$chatScreenBorder;
            border-right: $chatScreenBorder;
            border-bottom: $chatScreenBorder;
            border-left: none;
            height:47px;
        }


        #received_message_bubble_section,
        #sent_message_bubble_section {
            width: 100%;
            display: flex;
            
        }

        #received_message_bubble,
        #sent_message_bubble {
            
            padding: 15px;
        }

        #received_message_bubble_section {
            padding:10px 0px 0px 10px;

            justify-content: start;

            #received_message_bubble {
                max-width:50%;
                border-radius: 0px 10px 10px 10px;
                background-color: $primaryColor;
                color:white;
            }
        }

        #sent_message_bubble_section {
            padding:10px 10px 0px 0px;
            justify-content: end;

            #sent_message_bubble {
                max-width:50%;
                border-radius: 10px 0px 10px 10px;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        #chat_bubbles_and_send_message_field{
            height: calc(100% - 47px);
            border-right:1px solid $grayBorderColor;
            border-bottom: 1px solid $grayBorderColor;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #chat_bubbles{
                height:448px;
                overflow-y: auto;
            }
            

            #send_message_field{
                border-top: 1px solid $grayBorderColor;
                padding-top:20px;
                padding-left: 50px;
                padding-right: 50px;
                @include flexCenter;
                width:100%;
                margin-bottom: 10px;



                #send_icon {
                    margin-left:10px;
                    &:focus {
                        outline: 0;
                    }
                }
            }
        }
    }
}

//styling for screens over/at large (bootstrap)
@media only screen and (max-width: 992px) {
    #chat_section {
        visibility: hidden;
        height: 0px;
    }
}
