#chats_screen {


    font-family: $primaryFont;
    #all_chats{
        padding:0;
        
        
        border: 0.5px solid $grayBorderColor;
        #all_chats_heading {
            @include flexCenter;
            font-size: 30px;
        }
    }

    #chat_section{
        background-color: yellow;
    }

    #chats_search{
        display:flex;
        align-items: center;
        color:gray;
        padding: 0px 0px 0px 20px;
        height:40px;
        width:100%;
        background-color: rgba(0,0,0,0.1);

        #search_chats {
            background-color: transparent;
            border:none;
        }

        #search_icon {
            margin-right:10px;
        }

    }
}

//styling for screens over/at large (bootstrap)
@media only screen and (max-width: 992px) {
    #chat_section {
        visibility: hidden;
        height: 0px;
    }
}