#bootstrap-navbar {
    font-family: $primaryFont;

    #navbar-brand {
        font-size: 30px;
        cursor: pointer;
    }


    #navbar-search-field {
        border-radius: 10px;
    }
    margin:0;
    // box-shadow: $boxShadow;
}