#search_result_screen{
    #listing_title{
        font-family: $primaryFont-Semibold;
    }
    #search_result_screen_heading{
        font-size: 30px;
        #listing_title{
            margin-left:10px;
        }
    }

}