#single_listing_screen{
    #listing_display_image{
        height:400px;
        width:100%;
    }

    #divider{
        height:1px;
        width:100%;
        background-color: $grayBorderColor;
        margin:50px 0;
    }

    #details_and_description{
        #listing_title{
            font-family: $primaryFont-Semibold;
            font-size: 30px;
            margin: 50px 0;
        }
        #listing_details{
            #listing_rent{
                font-family: $primaryFont-Semibold;
            }
            p{
                margin: 3px 0;
            }
        }
    }

    #rating_heading,
    #owner_heading,
    #comment_section_heading{
        font-size: 22px;
        font-family: $primaryFont-Semibold;
        margin-bottom:20px;
    }

    #owner_and_rating{
        #owner_heading{
            margin-bottom:20px;
        }

        #owner_image_and_name{
            display: flex;
        }

        #owner_name{
            font-size: 18px;
            margin:5px 0;
        }
        #owner_image{
            height: 60px;
            width: 60px;
            border-radius: 50%;
        }

        #name_and_contact{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
        }

        #icon_button{
            &:focus {
                outline: 0;
            }
            background-color: $primaryColor-transparent;
            height:40px;
            width:40px;
        }

        #chat_button{
            color:white;
        }
    }

    #rating{
        #rating_heading{
            font-family: $primaryFont-Semibold;
        }
    }

    #comment_section{
        #all_comments{
            margin-top:20px;

            #comment_user_image{
                height:60px;
                width:60px;
                border-radius: 50%;
            }
            #single_comment{
                display: flex;
                margin: 50px 0;

                #comment_content{

                    #comment_user_name{
                        font-family: $primaryFont-Semibold;
                    }
                    margin-left: 15px;
                }
            }
        }

        #user_image_and_input{
            display: flex;
            margin-bottom:20px;
            #user_picture{
                height:60px;
                width: 60px;
                border-radius: 50%;
            }
    
            #comment_input{
                background-color: transparent;
                border:none;
                width:80%;
                margin-left: 10px;
                border-bottom: $chatScreenBorder;
            }

        }
        
    }
}