
/*

IMPORT FILES

*/



//has to be declared first
@import './variables.scss';


@import './mixins.scss';
@import './login_screen.scss';
@import './navbar.scss';
@import './home_screen.scss';
@import './sidebar.scss';
@import './listing_card.scss';
@import "./chat_screen.scss";
@import "./single_listing_screen.scss";
@import "./favorite_listings_Screen.scss";
@import "./my_listings.scss";
@import "./search_result_screen.scss";
@import "./user_profile_screen.scss";
@import "./add_listing_screen.scss";
@import "./alert_dialog.scss";


*{
    
    font-family: Raleway;
    

}

#home_screen_first_title,
#home_screen_title,
#favorites_screen_heading,
#my_listings_heading,
#add_listing_heading {
    font-family: $primaryFont-Semibold;
    font-size: 30px;
    
}

#home_screen_title,
#favorites_screen_heading,
#my_listings_heading,
#search_result_screen_heading {
    margin-bottom: 60px;
}


#loading_screen{
    width:100vw;
    height:100vh;
    @include flexCenter;
}

#simple_menu, #dropdown_alert_close_button, #nav_link {
    &:focus {
        outline: 0;
    }
}

#error_dropdown_alert{
    margin-top:20px;
    width:100%;
    @include flexCenter;
}