


$primaryColor: rgb(51,124,160); //hex value - 
$primaryColor-transparent: rgba(51,124,160,0.5);
$primaryColor-light : rgba(51,124,160,0.1);

$primaryFont: Raleway;
$primaryFont-Light:Raleway-Light;
$primaryFont-Bold:Raleway-Bold;
$primaryFont-Semibold:Raleway-Semibold;


$boxShadow:3px 3px 5px rgba(0, 0, 0, 0.2);
$sidebarBoxShadow: 0 0px 5px rgba(0, 0, 0, 0.2);

$grayBorderColor: rgba(180, 180, 180, 0.753);

$chatScreenBorder: solid 0.2px $grayBorderColor;